version: "3"
services:
  my_app:
    container_name: my_app_container_{{ENV_VAR}}
    image: {{ image_name }}
    environment:
      ENVIRONMENT: {{ENV_VAR}}
    ports:
      - 8000:8000
    depends_on:
      - database
  database:
    image: redis_{{ENV_VAR}}